.centralDiv{
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fabLeft{
  left: 18px; 
  bottom: 60px; 
  z-index: 10
}
.fabCenter{
  right: center; bottom: 60px; z-index: 1;
}

.my-card
  width: 100%;
  max-width: 700px;
  padding: 4px;